@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import 'loader.css';

/* Colors */
:root {
    --violet: #9356DC;
    --pink: #FF79DA;
    --green: #99E2D0;

    --gradient: linear-gradient(var(--violet),var(--pink));
}

body {
    margin: 0;
    color: black;
}

h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

h2,
h3,
h4 {
    margin-block-start: 0;
    margin-block-end: 0
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

a {
    text-decoration: none;
    color: #000;
}

span {
    padding-left: 15px;
}

input[type=search] {
    border: 0;
    padding: 10px;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header img {
    padding: 10px;
}

.position {
    height: 45px;
    background-color: #eaeaea;
    padding: 5px 0 0 0;
    box-shadow: inset 1px 3px 2px 0px #ccc;
}

button {
    margin-top: 15px;
    padding: 15px 20px;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(var(--pink), var(--violet));
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 3px #ccc;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1);
    box-shadow: 2px 2px 3px #A5A5A5;
}

.explore {
    margin: 0 auto;
    padding: 40px 30px 55px 30px;
    width: -webkit-fill-available;
    max-height: 285px;
    background-color: #F2F2F2;
}

.explore h2 {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}

.explore p {
    font-size: 1.1em;
    font-weight: 300;
}

.logo {
    font-family: 'Shrikhand', sans-serif;
    font-size: 2em;
}

main {
    margin: 0;
}

#fonctionnement {
    padding: 0 15px 40px 15px;
}

#fonctionnement h2 {
    padding-block-start: 2.1em;
    padding-block-end: 0.9em;
}

#fonctionnement i {
    width: 15px;
    text-align: center;
}

#fonctionnement ul {
    padding-inline-start: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}

#fonctionnement ul>li {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F6F6F6;
    border-radius: 15px;
    margin: 15px;
    padding: 25px 15px 25px 25px;
    box-shadow: 2px 2px 3px #ccc;
    cursor: pointer;
}

#fonctionnement ul>li:hover {
    background-color: #F5EDFF;
}

#fonctionnement ul>li:hover i {
    color: var(--violet);
}

#fonctionnement .puce {
    position: absolute;
    left: -15px;
    top: 21px;
    width: 15px;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    padding: 5px;
    background-color: var(--violet);
    font-size: 0.8em;
    border-radius: 20px;
}

#restaurants {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 50px;
    background-color: #F6F6F6;
}

#restaurants h2 {
    flex: 1 1 100%;
    margin-inline-start: 15px;
    padding-block-start: 2.1em;
    padding-block-end: 0.4em;
}

.carte-restaurant {
    margin: 20px 15px 0px 15px;
    width: 20vw;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #ccc;
}

.carte-restaurant:hover {
    background-color: #F5EDFF;
}

.carte-restaurant .photos-carte {
    position: relative;
    width: auto;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
}

.carte-restaurant:nth-child(2) .photos-carte {
    background-image: url(../images/restaurants/carte/la-palette-du-gout.jpg);
}

.carte-restaurant:nth-child(3) .photos-carte {
    background-image: url(../images/restaurants/carte/la-note-enchantee.jpg);
}

.carte-restaurant:nth-child(4) .photos-carte {
    background-image: url(../images/restaurants/carte/a-la-francaise.jpg);
}

.carte-restaurant:nth-child(5) .photos-carte {
    background-image: url(../images/restaurants/carte/le-delice-des-sens.jpg);
}

.photos-carte .new {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: #1c987a;
    background-color: var(--green);
    border-radius: 5px;
}

.carte-restaurant .content-carte {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 15px 10px 10px 10px;
}

.content-carte .description {
    width: -webkit-fill-available;
    width: -moz-available;
}

.content-carte .coeur {
    padding-right: 5px;
}

footer {
    padding: 20px;
    background-color: #353535;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

footer h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
}

footer i {
    width: 25px;
}

footer span {
    padding-left: 0px;
}

footer ul {
    list-style-type: none;
    margin-block-end: 0;
    padding-inline-start: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color: var(--pink);
}

.fa-heart::before {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.fa-heart:hover::after {
    content: "\f004";
    position: absolute;
    right: 15px;
    z-index: 0;
    font-size: 1em;
    font-weight: bold;
    background: left bottom 0% / 100% 0% no-repeat var(--gradient);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    animation: show-heart 0.5s forwards;
}

@keyframes show-heart {
    0% {
        background: left bottom 0% / 100% 0% no-repeat var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: left bottom 0% / 100% 100% no-repeat var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* STYLE */
.icon_large {
    font-size: 1.5em;
}

.small {
    font-size: small;
}

.gray {
    color: #999;
}

.purple {
    color: var(--violet);
}

@media screen and (min-width:280px) and (max-width:768px) {
    #restaurants {
        display: block;
        padding: 0;
    }

    .carte-restaurant {
        width: auto;
    }
}