#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    background-color: #F2F2F2;
    color: #000;

    animation: hide-loader 1s linear 4s;
    animation-fill-mode: forwards;
}
.loader-content {
    display: flex;
    position: relative;
    top: 45vh;
    margin: 0 auto;
    width: 100vw;
    max-width: 280px;
    text-align: center;
}

.loader-point {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;

    animation: updown 1.5s infinite;
}
.loader-content .loader-point:nth-child(1) {
    background-color: var(--green);
    animation-delay: 0s;
}
.loader-content .loader-point:nth-child(2) {
    background-color: var(--pink);
    animation-delay: 0.2s;
}
.loader-content .loader-point:nth-child(3) {
    background-color: var(--violet);
    animation-delay: 0.4s;
}
@keyframes updown {
    0% {
        transform: scale(1)/* translateY(0px)*/;
        opacity: 1;
    }
    25% {
        transform: scale(1.1)/* translateY(-25px)*/;
        opacity: 0.5;
    }
    50% {
        transform: scale(1)/* translateY(0px)*/;
        opacity: 1;
    }
    75% {
        transform: scale(1.1)/* translateY(25px)*/;
        opacity: 0.5;
    }
    100% {
        transform: scale(1)/* translateY(0px)*/;
        opacity: 1;
    }
}

@keyframes hide-loader {
    0% { opacity: 1; }
    99% { opacity: 0; }
    100% { visibility: hidden; }
}